*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body{
    position: absolute;
    left: 50%;
    top: 50%;
}

div{
    display: inline-block;
}

#game{
    position: absolute;
    left: -185px;
    top: -233px;
    width: 331px;
    height: 426px;
    background-color: #c0c0c0;
    border: 5px solid;
    border-style: outset;
    padding: 15px;
}

#banner-region{
    width: 301px;
    height: 50px;
    padding: 10px;
    border: 5px inset;
    text-align: center;
}

#face-img{
    width: 40px;
    height: 40px;
    border: 5px outset;
    background-image: url("../images/face_normal.bmp");
    background-size:cover;
}

#mine-count{
    float: left;
}

#mine-count img{
    height: 50px;
    display: block;
    float: left;
}

#time{
    float: right;
}

#time img{
    height: 50px;
    width: auto;
    display: block;
    float: left;
}

#game-region{
    margin-top: 15px;
    width: 315px;
    height: 315px;
    border: 8px solid;
    border-style: inset;
}
.block{
    float: left;
    width: 25px;
    height: 25px;
    border: 5px solid;
    border-style: outset;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.show{
    background-image: url("../images/mine1.gif");
    background-size: cover;
    width: 31px;
    height: 31px;
    border: 2px solid #9a9a9a; 
}

.flag{
    background-image: url("../images/flag.gif");
    background-size: cover;
}